{% extends 'toDo/base.html' %}
{% block content %}
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
                <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
                <h2 class="card-title">{{ object.title }}</h2>
                <h5 class="card-text"> Due Date - {{ object.due_date }}</h5>
                <h5 class="card-text"> Date Posted - {{ object.date_posted|date:"F d, Y" }}</h5>
                <p class="card-text">{{ object.description }}</p>
                <a class="mr-4">{{ object.status }}</a>
                <a class="mr-4" href="#">{{ object.author }}</a>
            </div>
        </div>
        <div class="card-footer">
            {% if object.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'toDo_update' pk=object.id %}">
                        Update </a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'toDo_delete' pk=object.id %}">
                        Delete </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}